---
import {Image} from '@astrojs/image/components';
import {faChevronRight} from '@fortawesome/free-solid-svg-icons';
import {FontAwesomeIcon} from '@fortawesome/react-fontawesome';
import {getCollection} from 'astro:content';
import Post from '../components/Post';
import photo from '../images/photo2.jpg';
import Layout from '../layouts/Layout.astro';

const posts = await getCollection('posts');
posts.sort((a, b) => b.data.publishedAt - a.data.publishedAt);
const latestPosts = posts.slice(0, 4);
---

<style>
	.container {
		display: flex;
		justify-content: space-between;
		gap: 1.5rem;
		padding-top: 1rem;
	}

	.aboutMe {
		flex-basis: 65%;
	}

	.aboutMe img {
		max-width: 100%;
	}

	.featuredPost {
		flex-basis: 33%;
	}

	mark {
		color: var(--color-blue-dark);
		text-shadow: 0 0 .25rem #99c7f2;
		background: none;
	}

	.more {
		margin-top: 1.5rem;
	}

	.more a {
		color: #fff;
		background: var(--color-blue);
		text-decoration: none;
		padding: .5rem .75rem;
		border-radius: .75rem;
	}

	.more a:hover {
		background: var(--color-blue-dark);
	}

	@media (max-width: var(--breakpoint-mobile)) {
		.container {
			display: block;
		}
	}
</style>

<Layout title="Jiří Pudil">
	<div class="container">
		<div class="aboutMe">
			<Image
				src={photo}
				alt="Jiří Pudil, brněnský herec s rýmy"
				width={700}
			/>
			<p>V&nbsp;šestnácti jsme se s&nbsp;kamarádem vsadili, že budeme psát básně, a&nbsp;tak jsem začal psát. V&nbsp;osmnácti mi vrazil do ruky kytaru a řekl, ať hraju, a&nbsp;tak jsem začal hrát. Na sklonku dvaadvacátého roku jsem skloubil obé a začal skládat vlastní písničky.</p>
			<div class="more">
				<a href="/o-mne">
					Více o&nbsp;mně
					<FontAwesomeIcon icon={faChevronRight} />
				</a>
			</div>
		</div>

		<div class="featuredPost">
			<h2>Polibek Múzy</h2>
			<div>
				<p>
					Ani dnes mě nelíbají<br />
					Múzy přímo na čelo.<br />
					Říkám jim, ať říct si dají,<br />
					ale jim se nechtělo.
				</p>

				<p>
					Lítaj’ radši za jinými,<br />
					líbají je po těle,<br />
					a já, prostý <mark>herec s rýmy</mark>,<br />
					jen pot stírám na čele.
				</p>
			</div>
			<div class="more">
				<a href="/tvorba">
					Další tvorba
					<FontAwesomeIcon icon={faChevronRight} />
				</a>
			</div>
		</div>
	</div>
</Layout>
